* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: black;
    background-size: auto 100vh;
  }
  #time {
    font-size: 8rem;
  }
  h1 {
    margin-bottom: 3rem;
  }
  h2 {
    margin-bottom: 0.5rem;
    opacity: 0.6;
  }
  #word {
    text-decoration: underline;
  }
  #definition {
    font-weight: bold;
  }

  @media (max-width: 700px) {
    #time {
      font-size: 6rem;
    }
  }


  /* Loader Animation */
  #loader {
    visibility: hidden;
    margin-top: 215px;
    position: absolute;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #000;
    width: 80px;
    height: 80px;
    -moz-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  #loader.show {
    visibility: visible;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  @-o-keyframes spin {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); }
  }
  @-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
  }